
<!-- Comparando o trabalho entre criando do zero e
     usando tags semânticas -->
<div
  class="button-group"
  role="radiogroup"
  [attr.aria-label]="label">

  <label>{{ label }}</label>

  <div class="radio">
    <input
      [attr.id]="id + '-yes'"
      type="radio"
      [attr.name]="id"
      [attr.checked]="value === options.YES ? true : null"
      [attr.disabled]="disabled ? true : null"
      (change)="activate(options.YES)">
      <label [attr.for]="id + '-yes'" class="button button-yes">
        Yep
      </label>
  </div>

  <div class="radio">
    <input
      [attr.id]="id + '-no'"
      type="radio"
      [attr.name]="id"
      [attr.checked]="value === options.NO ? true : null"
      [attr.disabled]="disabled ? true : null"
      (change)="activate(options.NO)">
    <label [attr.for]="id + '-no'" class="button button-no">
      Nope
    </label>
  </div>
</div>
